.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

ul {
    list-style: none;
}

ul a {
    text-decoration: none;
}

li h5 {

    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;

}

li a {

    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #737373;
}

.subscribe {
    display: flex;
}

li #email {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.20000000298023224px;
    background-color: #F9F9F9;
    border: none;
    border: 1px solid #E6E6E6

}

li button {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    color: #ffffff;
    background-color: #23a6f0;
    border: none;
}

.gratitude h6 {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    background-color: #737373;
    width: 100%;

}

.gratitude {
    width: 1440px;
}